body{
  /*background-color: rgb(135, 157, 205);*/
  /*background: rgb(76, 151, 166);*/
  background-image: url(../imagenes/overfly.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  /*background-position: 200px 100px;*/
  background-position: center 0;

}

/*div{
  background: url(../imagenes/overfly.jpg);
  height: 300px;
  color: #fff;
}*/
