/*tamaño defaul 16px*/
/*unidad em hereda tamaño superior*/
/*unidad rem herera el tamaño padre*/
body{
  font-size:12px;
}

div{
  background: #000;
  color:#fff;
  width: 50%;
}

div p{
  font-size: 1rem;
}
