div {
  /*background: #ccc;*/
  width: 100%;
}

img {
  height: 300px;
  width: auto;
  margin: auto;
  display: block;
}

img {
  border-radius: 10px;
}

img {
  box-shadow: 5px 5px 0px #4b4f55;
}

img{
  padding:10px;
  border: 1px solid #2f2f2f;
}
